<div class="flex justify-between items-center mb-6">
  <h4 class="font-bold text-2xl">User Managment</h4>
  <button type="button" (click)="openModal()"
    class="text-white bg-emerald-500 hover:bg-emerald-800  focus:outline-none font-medium rounded-md px-6 py-3 text-center mb-2 mt-3 mr-3 ">Add
    User</button>
</div>

<div class="flex flex-col items-center justify-between h-96 mb-4 rounded-lg mt-3 bg-white ">
  <div class="w-full overflow-x-auto rounded-lg ">
    <table class="min-w-full border-none text-left">
      <thead>
        <tr class="border-gray-400 bg-gray-200 font-sans text-sm font-normal text-black">
          <th class="px-4 py-2">Name</th>
          <th class="px-4 py-2">Email</th>
          <th class="px-4 py-2">Address</th>
          <th class="px-4 py-2">Mobile</th>
          <th class="px-4 py-2">Gender</th>
          <th class="px-4 py-2">Action</th>
        </tr>
      </thead>
      <tbody>
        @if(userList){

          @for(user of userList; track user._id){
            <tr class="font-sans text-sm text-black">
              <td class="px-4 py-2 ">{{user?.name}}</td>
              <td class="px-4 py-2 ">{{user?.email}}</td>
              <td class="px-4 py-2 ">{{user.address}}</td>
              <td class="px-4 py-2 ">{{user.mobile}}</td>
              <td class="px-4 py-2 ">{{user.gender}}</td>
              <button (click)="loadCurrentUser(user)" class="mt-2 h-8 w-24 rounded-lg border border-emerald-400 text-emerald-500 font-semibold text-md-center hover:bg-emerald-400 hover:text-white transition duration-500">Edit</button>
            </tr>
          } @empty {
            <tr class="text-center" >User list is empty</tr>
          }
        }
      </tbody>
    </table>
  </div>

</div>
<app-modal [isOpen]="isOpenModal" (closeModel)="closeModal()">
  <app-user-form 
  [buttonTitle]="buttonTitle" 
  [currentUser]="currentUser" 
  (closeModal)="closeModal()">
  </app-user-form>
</app-modal>